<section id="skills" class="min-h-screen">
  <h2 class="font-semibold text-3xl p-4 text-gray-400">Skills</h2>
<div class="grid lg:grid-cols-3 p-5 gap-5 w-auto mt-10">
  <!-- One -->
  <div class="border border-gray-300 bg-gray-100 dark:bg-gray-800 hover:scale-105 shadow hover:shadow-blue-700 dark:shadow- rounded-2xl">
    <div class="bg-gray-400 font-semibold flex items-center justify-evenly">
      <h2>FRONTENED SKILLS</h2>
    </div>
    <!-- Ul starts-->
    <div class="ml-7 mb-3">
      <ul class="bg-gray-100 list-disc dark:bg-gray-800 dark:text-gray-100">
        <li>HTML</li>
        <li>CSS</li>
        <li>Boot Strap</li>
        <li>TailWindCSS</li>
        <li>Java Script</li>
        <li>Angular</li>
      </ul>
    </div>
  </div>

  <!-- Two -->
  <div class="border border-gray-300 bg-gray-100 dark:bg-gray-800  hover:scale-105 shadow hover:shadow-blue-700 rounded-2xl">
    <div class="bg-gray-400 font-semibold flex items-center justify-evenly rounded-t-2xl">
      <h2>BACKENED SKILLS</h2>
    </div>
    <!-- Ul starts -->
    <div class="ml-7 mb-3">
      <ul class="bg-gray-100 list-disc dark:bg-gray-800 dark:text-gray-100">
        <li>Python</li>
        <li>Django</li>
      </ul>
    </div>
  </div>

  <!-- Three -->
  <div class="border border-gray-300 bg-gray-100 dark:bg-gray-800 hover:scale-105 shadow hover:shadow-blue-700 rounded-2xl">
    <div class="bg-gray-400 font-semibold flex items-center justify-evenly rounded-t-2xl">
      <h2>DATABASE</h2>
    </div>
    <!-- Ul starts-->
    <div class="ml-7 mb-3">
      <ul class="bg-gray-100 list-disc dark:bg-gray-800 dark:text-gray-100">
        <li>MySql</li>
        <li>MongoDB</li>
      </ul>
    </div>
  </div>

  <!-- Four -->
  <div class="border border-gray-300 bg-gray-100 dark:bg-gray-800 hover:scale-105 shadow hover:shadow-blue-700 rounded-2xl">
    <div class="bg-gray-400 font-semibold flex items-center justify-evenly rounded-t-2xl">
      <h2>TOOLS</h2>
    </div>
    <!-- Ul starts-->
    <div class="ml-7 mb-3">
      <ul class="bg-gray-100 list-disc dark:bg-gray-800 dark:text-gray-100">
        <li>Git</li>
        <li>VS Code</li>
        <li>GitHub</li>
      </ul>
    </div>
  </div>
</div>
</section>